<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spin Wheel App</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet" />
  <!-- Stylesheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

  <center>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Launch demo modal
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="wrapper">
              <div class="container">
                <canvas id="wheel"></canvas>
                <button id="spin-btn">Spin</button>
                <img src="{% static 'svg/arrow-left.svg' %}" alt="spinner-arrow" />
              </div>
              <div id="final-value">
                <p>Click On The Spin Button To Start</p>
                
              </div>
            </div>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
        </div>
      </div>
    </div>
  <!-- <div class="wrapper">
    <div class="container">
      <canvas id="wheel"></canvas>
      <button id="spin-btn">Spin</button>
      <img src="{% static 'svg/arrow-left.svg' %}" alt="spinner-arrow" />
    </div>
    <div id="final-value">
      <p>Click On The Spin Button To Start</p>
      
    </div>
  </div> -->
  </center>
  <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  <!-- Chart JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
  <!-- Chart JS Plugin for displaying text over chart -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.1.0/chartjs-plugin-datalabels.min.js"></script>
  <!-- Script -->
  <script src="{% static 'js/spinner_js.js' %}"></script>
  
</body>

</html>